.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #E0A800;
}

.App h1 {
  color: #333333;
  text-shadow: 2px 2px silver;
  font-family: 'Montserrat', sans-serif;
}

.App h1, p {
  padding: 10px;
  letter-spacing: 2px;
  margin: 0 auto;
}

.App p {
  color: aliceblue;
  font-size: 20px;
  font-family: monospace;
  line-height: 50px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-image: url("./img/Shopping-dog.jpg");
  background-size: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.featurenotify {
  max-width: 50%;
  margin: 0 auto;
  object-fit: cover;
  border: 8px solid grey;
  border-style: outset;

}
.thumb {
  object-fit: cover;
  height: 150px;
  width: 150px;
}
.currstatus {
  object-fit: cover;
  height: 300px;
  width: 250px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/*
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.subnav {
  float: left;
  overflow: hidden;
}
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}
.subnav:hover .subnav-content {
  display: block;
}
*/

/*/////////////  Products.js  /////*/
.btn-outline-info, .btn-outline-dark {
  margin: 2rem;
  width: 17rem;
}
.label {
  color: #000;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1.3rem;
}
.heading {
color: #333333;
text-transform: uppercase;
backface-visibility: hidden;
margin-bottom: 2rem;
display: block;
font-size: 2rem;
font-weight: 400;
letter-spacing: .5rem;
animation-name: moveInLeft;
animation-duration: 1.5s;
animation-timing-function: ease-out;
text-align: center;
}
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translate(-10rem);
    }
    80%{
        transform: translate(2rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.product-option{
  width: 10rem;
}

/*///// Item.js //////*/
.container{
  margin-top: 0;
}

.newProd-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 2rem;
  top:0;
}

.item1{
  grid-row: 1 / 4;
  grid-column: 1 / 2;
}

.item2{
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

.item3{
  grid-row: 1 / 2;
  margin-top: 2rem;
  grid-column: 1 / 3;
}

.item-image{
  width: 500px;
  height: 500px;
}

.checkout {
  padding: 1em;
}
.checkout h1 {
  text-align: center;
  color: #333333;
}
.checkout table, #no-item {
  font-size: 20px;
  text-align: center;
}

.checkout th {
  color: #0384DF;
}

.checkout th, td, #no-item {
  text-align: center;
  padding: 1em;
}
#total {
  text-align: left;
  color: #0384DF;
}
#pay {
  margin: 1em;
  margin-left: 50px;
  padding: 10px;
}
.editform h1, #no-item {
  text-align: center;
  color: #0384DF;
}
.editform form {
  text-align: center;
  font-size: 20px;
  color: #333333;
  margin: 1em;
}
.editform label {
  text-align: left;
  padding: 1em;
  font-weight: bold;
}
.App-header button, .alter {
  color: white;
  margin-top: 27px;
  background-color: #0384DF;
}
.App-header button:hover, .alter:hover {
  background-color: #FE585C;
}
.App-header h1 {
  color: #0384DF;
}
.favicon {
  border-radius: 5px;
}
.favicon:hover {
  background-color: silver;
}
.example {
  text-align: center;
  margin: 1em;
}
.example h1 {
  color: #0384DF;
}
.checkout p {
  font-size: 20px;
}
.checkout button:hover {
  background-color: #333333;
  color: silver;
  transition: 0.5s all;
}
.checkout button {
  padding: 10px;
  width: 100px;
}
/* another version of nav bar
#main_nav ul {
  background: white;
  float: left;
  -webkit-transition: .5s;
  transition: .5s;
}
#main_nav li {
  float: left;
  position: relative;
  width: 150px;
  list-style: none;
  -webkit-transition: .5s;
  transition: .5s;
}
#main_nav > ul > li > a, h1 {
  text-transform: uppercase;
}
#main_nav a {
  display: block;
  text-decoration: none;
  padding: 5px 15px;
  color: #000;
}
#main_nav ul ul {
  position: absolute;
  left: 0;
  top: 100%;
  visibility: hidden;
  opacity: 0;
}
#main_nav ul ul ul {
  left: 100%;
  top: 0;
}
#main_nav li:hover, #main_nav li:hover li {
  background: #ddd;
}
#main_nav li li:hover, #main_nav li li:hover li {
  background: #bbb;
}
#main_nav li li li:hover {
  background: #999;
}
#main_nav li:hover > ul {
  visibility: visible;
  opacity: 1;
}
 end nav bar */

 .third-level-menu
 {
     position: absolute;
     right: -150px;
     width: 150px;
     list-style: none;
     padding: 0;
     margin: 0;
     display: none;

 }
 .third-level-menu > li
 {
     background: #333333;
     border-bottom: 1px solid grey;
 }
 .third-level-menu > li:hover { background-color:  grey; text-decoration: none; }
 .second-level-menu
 {
     position: absolute;
     top: 30px;
     left: 0;
     width: 150px;
     list-style: none;
     padding-top: 10px;
     margin: 0;
     display: none;
 }
 .second-level-menu > li
 {
     position: relative;
     margin: 0;
     padding: 0;
     background: #333333;
     border-bottom: 1px solid grey;
 }
 .second-level-menu > li:hover { background-color:  grey; text-decoration: none; }
 .top-level-menu
 {
     list-style: none;
     padding: 20px 20px 20px 20px;
     margin: 0 0 10px 0;
     background: #333333;
     height: 70px;
     border: 5px solid grey;
     border-style: ridge;
     font-family: fantasy;
     font-weight: bold;
     letter-spacing: 2px;
     font-size: 15px;
 }
 .top-level-menu > li
 {
     position: relative;
     float: left;
     height: 30px;
     width: 150px;
     background: #333333;
 }
 .top-level-menu > li:hover {  text-decoration: none; }
 .top-level-menu li:hover > ul
 {
     /* On hover, display the next level's menu */
    display: inline;
 }
 /* Menu Link Styles */

 .top-level-menu a /* Apply to all links inside the multi-level menu */
 {
     color: #FFFFFF;
     text-decoration: none;
     padding: 0 20px 0 20px;
     /* Make the link cover the entire list item-container */
     display: inline-block;
     line-height: 30px;
 }
 .top-level-menu a:hover { color: hotpink; text-decoration: none; }

 .non-link-menu
 {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0 20px 0 20px;
  /* Make the link cover the entire list item-container */
  display: inline-block;
  line-height: 30px;
}
.non-link-menu:hover { color: hotpink; text-decoration: none; }


 footer {
 	text-transform: uppercase;
 	padding: 0 20px 0 10px;
 	background-color: grey;
 	font-size: 14px;
 	letter-spacing: .08em;
 	font-weight: 500;
 }

 .copyright {
 	float: left;
  color: #333333;
  font-family: bold;
  font-size: 20px;
 }

 .message {
 	float: right;
 }

 .fa-github {
  color: black;
  padding-right: 20px;
  transition: all 0.2s ease-in-out;
 }

 .fa-github:hover {
  opacity:  0.6;
 }

 .clearfix:after {
 	visibility: hidden;
 	font-size: 0;
 	display: block;
 	height: 0;
 	content: " ";
 	clear: both;
 }

 a, a:hover, button:hover {
   text-decoration: none;
 }

.dropdown {
  text-align: center;
}

/*/////  Products.js //*/
.dropdown {
  text-align: center;
}

.image{
  height: 19rem;
}

.link-style{
  text-decoration: none;
  color: black;
}

.card-style{
  height: 25rem;
}

.new-product{
  margin-left: auto;
}

/* S */
@media screen and (max-width: 500px) {

.btn-outline-info{
  margin-left: 6rem;
}
.search-btn{
  margin: auto;
}
.image{
  height: 20rem;
  width: 20rem;
}
.card-style{
  height: 30rem;
}
.newProd-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 2rem;
  top:0;
}
.item1{
  grid-row: 1 / 2;
  grid-column: 2 / 2;
  margin-bottom: -20rem;
  margin-top: -10rem;
}
.item2{
  grid-row: 2 / 1.5;
  /* grid-column: 2 / 2; */
}
.item3{
  grid-row: 1 / 2;
  margin-top: 2rem;
  grid-column: 1 / 3;
}
.item-image{
  width: 300px;
  height: 300px;
  /* margin-left: 4rem; */
  margin-top: 10rem;
  margin-bottom: 20rem;
}
.new-product{
  margin-right: -2rem;;
}

}
/* M */
@media screen and (max-width: 768px) {

  .item-image{
    width: 300px;
    height: 300px;
    /* margin-left: 4rem; */
    margin-top: 10rem;
    margin-bottom: 20rem;
  }
  .item2{
    font-size: .9rem;
  }
  .btn-warning {
    margin: 1rem;
}

}
/* L */
@media screen and (min-width: 769px) and (max-width: 1170px) {
  .btn-warning {
    margin: 1rem;
    width: 10rem;
}
}

/* Xl  */
@media screen and (min-width: 1171px) {
  /* tag{} */
}
